<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Ruby on Rails" %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag 'style', type: "text/css", media: "screen", charset: "utf-8" %>
  </head>

  <body class="<%= page_classes %>">

    <div class="container">
      <div class="logo">
        <a href="/">
          <%= image_tag 'rails-logo.svg', width: "130", height: "46", alt: "Ruby on Rails" %>
        </a>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
